.footer-container {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.footer-logos {
  display: flex;
  justify-content: space-between;
  width: 74vw;
  margin: 0 auto;
  margin-top: 20px;
}

.footer-title {
  font-size: 20px;
  font-weight: 700;
  margin: 0px;
  
}

.footer-links {
  display: flex;
  justify-content: space-between;
  width: 74vw;
  margin: 0 auto;
}

.link-logos {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.footer-container ul {
  display: flex;
  width: 400px;
  justify-content: space-between;
  padding: 0;
}

.footer-links ul li {
  list-style-type: none;
  display: flex;
  align-self: start;
}